.App {
  text-align: center;
}

h1{
  font-family:'Courier New', Courier, monospace;
  font-size: 40px;
  margin-top: 2%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2%;
  width: 100%;
}

.imageDisplay {
  opacity: 1;
  display: block;
  width: 30%;
  height: auto;
  transition: .5s ease;
  border-radius: 2.5%;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .imageDisplay {
  opacity: 0.9;
}

.container:hover .middle {
  opacity: 1;
  box-shadow: 20px 20px 30px -10px #192824;
}

.text {
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}